absl-py==2.2.2
asttokens==3.0.0
contourpy==1.3.2
cycler==0.12.1
decorator==5.2.1
etils==1.12.2
executing==2.2.0
fonttools==4.57.0
fsspec==2025.3.2
glfw==2.9.0
importlib_resources==6.5.2
ipython==9.2.0
ipython_pygments_lexers==1.1.1
jedi==0.19.2
kiwisolver==1.4.8
llvmlite==0.44.0
matplotlib==3.10.1
matplotlib-inline==0.1.7
mediapy==1.2.3
mujoco==3.3.1
noise==1.2.2
numba==0.61.2
numpy==2.2.5
packaging==25.0
parso==0.8.4
pexpect==4.9.0
pillow==11.2.1
prompt_toolkit==3.0.51
ptyprocess==0.7.0
pure_eval==0.2.3
pyelastica==0.2.4
Pygments==2.19.1
PyOpenGL==3.1.9
pyparsing==3.2.3
python-dateutil==2.9.0.post0
scipy==1.15.2
setuptools==80.9.0
six==1.17.0
stack-data==0.6.3
-e git+ssh://git@github.com/rdlynx19/hsa.git@f43656ecb30c333c930ead13d1035b8052e3265f#egg=torsional
tqdm==4.67.1
traitlets==5.14.3
typing_extensions==4.13.2
wcwidth==0.2.13
zipp==3.21.0
