env:
  n_envs: 4
  actuator_groups: [1]
  max_episode_steps: 2000

model:
  policy: "MlpPolicy"
  n_steps: 2048
  batch_size: 64
  learning_rate: 0.0003
  gamma: 0.99
  gae_lambda: 0.95
  clip_range: 0.2
  ent_coef: 0.0

train:
  total_timesteps: 1_000_000
  log_dir: "./logs/ppo_hsa/"
  run_name: "ppo_lamb2"
  checkpoint_dir: "./checkpoints/"
  checkpoint_freq: 100_000
  resume: false

  