env:
  xml_file: "hsaModel.xml"
  n_envs: 4
  frame_skip: 20
  actuator_group: [1]
  action_group: [1]
  forward_reward_weight: 15.0
  ctrl_cost_weight: 0.0005
  contact_cost_weight: 0.0001
  yvel_cost_weight: 0.05
  smooth_positions: true
  max_episode_steps: 2000

model:
  policy: "MlpPolicy"
  n_steps: 2048
  batch_size: 64
  learning_rate: 0.0003
  gamma: 0.99
  gae_lambda: 0.95
  clip_range: 0.2
  ent_coef: 0.05

train:
  total_timesteps: 10_000_000
  log_dir: "./logs/ppo_og/"
  run_name: "ppo_model_10M"
  checkpoint_dir: "./checkpoints_model/"
  checkpoint_freq: 500_000
  resume: false

  